<%= form_tag locations_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
<% end %>
<table>
  <tr>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.address %></td>
    <td><%= location.latitude %></td>
    <td><%= location.longitude %></td>
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Location', new_location_path %>
<br/>
<br/>



<br/>
<br/>
<fieldset>
<legend>Friends Count</legend>


  <% if current_user %>
  Number of Friends: <%= current_user.friends_count %>
<% end %>
</fieldset>


<br />

<fieldset>
  <legend>All Friend List</legend>
<% if current_user  %>
<table border=1>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Status</th>
    <th>Loction</th>

  </tr>
    <% for friend in current_user.friends_list  %>
          <tr>
            <td><b><%= friend["id"]%> </b></td>
          
         
            <td><%= friend["name"] %></td>
         
           <td><%= friend["relationship_status"]%></td>
          <td><%= friend["location"]["name"] %></td>
          </tr>
        <% end %>
    <table>
<% end %>
</fieldset>



<fieldset>
  <legend>Single Status Friend List</legend>
<% if current_user  %>
<table border=1>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Status</th>
  </tr>
    <% for friend in current_user.status_single_friend  %>
          <tr>
            <td><b><%= friend["id"]%> </b></td>
          
         
            <td><%= friend["name"] %></td>
         
           <td><%= friend["relationship_status"]%></td>

          </tr>
        <% end %>
    <table>
<% end %>
</fieldset>






<% if session[:user_id].blank? %>
 <p><%= link_to 'Sign in with Facebook', signin_path %></p>
 <%else%>
 <%= link_to 'logout', signout_path %> 
<%end%>